<!DOCTYPE html>
<html lang="en" >


<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>


</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitor<span class="caret glyphicon glyphicon-plane"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/events/monitor">Monitor</a></li>
              <li><a href="/switch">Switch</a></li>
              <li><a href="#">...</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/device">Device</a></li>
              <li><a href="/device_time">Device Time</a></li>
              <li><a href="/battery">Battery Status</a></li>
              <li><a href="/temp">Temperature</a></li>
              <li><a href="/baro">Luftdruck</a></li>
              <li><a href="/hum">Luftfeuchtigkeit</a></li>
              <li><a href="/state">Device Status</a></li>
              <li><a href="/act">Actor</a></li>
              <li><a href="/chart">Chart</a></li>
              <li><a href="#">...</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/init">Drop all events</a></li>
              <li><a href="#">...</a></li>
            </ul>
         </li>

      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Config<span class="caret glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/events/monitor">Monitor</a></li>
              <li><a href="#">...</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/device_time">Device Time</a></li>
              <li><a href="#">...</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/stop">Stop&Restart Service</a></li>
              <li><a href="/alexa/message">Test Message</a></li>
              <li><a href="/alexa/temperature">Test Temperatur</a></li>
              <li><a href="/init">Drop all events</a></li>
              <li><a href="#">...</a></li>
            </ul>
         </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/reset">Reset</a></li>
      </ul>

    </div>
  </nav>

  {{#if errorMessage}}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="container">
    {{{body}}}
  </div>

</body>
</html>
