
{{!< layout}}

<div style="border-radius: 20px; background-color:Bisque; padding-top:10px; padding-bottom:20px" class="container">
  <h1>{{title}}</h1>
  <p>{{intro}}</p>

  <div class="form-group">
      <div class="col-sm-10">
          <a href="/expected/ppr" id="service" name="service" class="btn btn-primary">Enter Services</a>
          <a href="/" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
      </div>
  </div>

  </div>
