{{!< layout}}


<style>
  th { background-color: #aaaaaa }
}
</style>
<div style="border-radius: 20px; background-color:Bisque; padding-top:10px; padding-bottom:20px" class="container">
  <h1>{{title}}</h1>
  <div class="entry">
  <table id="myTable" name="myTable" class="table table-bordered table-hover table-condensed " >
   <tr>
     <th>Registration</th>
     <th>type</th>
   </tr>
   {{#each obj}}
    <tr>
       <td title={{this._id}}>{{this.registration}}</td>
       <td>{{this.ptype}}</td>
    </tr>
   {{/each}}
  </table>
  </div>
</div>
