
{{!< layout}}

  <div style="border-radius: 20px; background-color:lightgrey; padding-top:10px; padding-bottom:20px" class="container">
    <h1>{{title}}</h1>
    <div class="container">
        <div class="form-group" >
            <div class="col-sm-10">
                <a href="/events/create" id="event" name="event" class="btn btn-primary">Flight Events</a>
                <a href="/" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
  </div>
