
{{!< layout}}

  <div style="border-radius: 20px; background-color:LightBlue; padding-top:10px; padding-bottom:20px" class="container">
  <h1>{{title}}</h1>
  <p>{{intro}}</p>

  <div class="form-group">
      <div class="col-sm-10">
          <a href="/pilots/ppr" id="register" name="register" class="btn btn-primary">Enter your flight (PPR)</a>
          <a href="/pilots/home" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
      </div>
  </div>

  </div>
