<button class="btn" onclick='replaceClass("/lib")' ><i class="fa fa-home"></i> Home</button>
<button class="btn" onclick='replaceClass("/lib/book/list")' ><i class="fa fa-glyphicon-book"></i> Bücher</button>
<button class="btn" onclick='replaceClass("/lib/teacher/list")' ><i class="fa fa-address-book-o"></i> Lehrer</button>
<button class="btn" onclick='replaceClass("/lib/transaction/list")' ><i class="fa fa-share-square-o"></i> Vorgang</button>
<button class="btn" onclick='replaceClass("/lib/subject/list")' ><i class="fa fa-folder"></i> Fächer</button>
<button class="btn" onclick='replaceClass("/lib/trantype/list")' ><i class="fa fa-balance-scale"></i> Vorgans-Typen</button>
<button class="btn" onclick='replaceClass("/lib/entry/list")' ><i class="fa fa-gavel"></i> Eingang</button>
<button class="btn" onclick='replaceClass("/lib/entity/list")' ><i class="fa fa-gavel"></i> Tabellen</button>
<button class="btn" onclick='replaceClass("/lib/document/list")' ><i class="fa fa-gavel"></i> Reports</button>